/* Variables */

:root {
    /* colors */
    --color-cream: #fefae0;
    --color-lgreen: #606c38;
    --color-dgreen: #1a2410;
    --color-lorange: #e8b86d;
    --color-dorange: #bc6c25;

    /* useable colors */
    --color-bg: var(--color-dgreen);
    --color-bg-alt: var(--color-lgreen);
    --color-text: var(--color-cream);
    --color-accent: var(--color-lorange);
    --color-accent-dark: var(--color-dorange);
    --color-border: var(--color-cream);
}